header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(34, 34, 34, 0.9);
  padding: 1rem 9%;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

header a {
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
}

header a span {
  color: #ffa500;
}

header i {
  position: absolute;
  right: 20%;
  color: #ffa500;
  font-size: 2em;
}

header .book {
  font-weight: 400;
  font-size: 1.2rem;
  padding: 10px;
  color: rgba(34, 34, 34, 0.9);
  background-color: #ffa500;
  border-radius: 20px;
  transition-duration: 0.5s;
  border: 1px solid #ffa500;
}

header .book:hover {
  background-color: rgba(34, 34, 34, 0.9);
  color: white;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul a {
  font-weight: 400;
  font-size: 1rem;
  margin: 0.7rem;
  transition-duration: 0.5s;
}

nav ul a:hover {
  color: #ffa500;
}

#banner {
  display: flex;
  margin-top: 7em;
  width: 100%;
  background: linear-gradient(rgba(17, 17, 17, 0.7), rgba(17, 17, 17, 0.7)), url(https://stravelhtml.vercel.app/mumbai/images/home-bg.jpg) no-repeat;
  min-height: 80vh;
  background-size: cover;
  justify-content: center;
  background-repeat: no-repeat;
  align-items: center;
}

#banner h3 {
  font-weight: bolder;
  color: transparent;
  -webkit-text-stroke: 0.1rem #ffa500;
  font-size: 4vw;
  display: block;
}

#banner .content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#banner .content h2 {
  font-size: 5rem;
  color: white;
  font-weight: bold;
}

#banner .content p {
  font-size: 1em;
  color: white;
  font-weight: 400;
  line-height: 2;
  margin: 1rem 0;
  max-width: 43rem;
}

#banner .content a {
  font-weight: 400;
  font-size: 1.2rem;
  padding: 10px;
  color: rgba(34, 34, 34, 0.9);
  background-color: #ffa500;
  text-decoration: none;
  border-radius: 20px;
  transition-duration: 0.5s;
  border: 1px solid #ffa500;
}

#banner .content a:hover {
  background-color: rgba(34, 34, 34, 0.9);
  color: white;
}

#voucher {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#voucher-content {
  width: 90%;
  margin: auto;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-top: -50px;
  background: #efefef;
  border-radius: 20px;
}

#voucher-content h2 {
  color: #ffa500;
  font-size: 35px;
  font-weight: 500;
}

#voucher-content a {
  width: 50%;
  background-color: #ffa500;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  text-decoration: none;
  color: white;
  border-radius: 20px;
  font-size: 20px;
  border: 1px solid #ffa500;
  transition-duration: 0.5s;
  font-weight: 500;
}

#voucher-content a:hover {
  background-color: #f2e0bf;
  color: #ffa500;
}

#view {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 90%;
  margin: 100px auto;
}

#view .slider {
  width: 50%;
}

#view .slider video {
  width: 100%;
  object-fit: contain;
  border-radius: 20px;
}

#view-desc h3 {
  color: #ffa500;
  font-size: 20px;
  font-weight: 400;
}

#view-desc h2 {
  font-size: 40px;
}

#view-desc p {
  color: #5d5d5d;
  line-height: 2;
  padding: 1rem 0;
  font-size: 1.1em;
}

#view-desc a {
  width: 50%;
  background-color: #ffa500;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  text-decoration: none;
  color: white;
  border-radius: 20px;
  font-size: 20px;
  border: 1px solid #ffa500;
  transition-duration: 0.5s;
  font-weight: 500;
}

#view-desc a:hover {
  background-color: #f2e0bf;
  color: #ffa500;
}

#places {
  width: 90%;
  margin: 100px auto;
}

#places #content {
  text-align: center;
  width: 100%;
}

#places #content h3 {
  color: #ffa500;
  font-size: 20px;
  font-weight: 500;
}

#places #content h2 {
  font-size: 40px;
}

#places #content .layout {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 30px;
}

#places #content .layout h3 {
  color: black;
  font-weight: bold;
  font-size: 20px;
  margin: 10px 0;
}

#places #content .layout .desc {
  padding: 20px;
  height: 250px;
  position: relative;
}

#places #content .layout p {
  color: #b0b0b0;
  font-size: 16px;
}

#places #content .layout .desc {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 20px;
}

#places #content .layout .more {
  font-size: 18px;
  position: absolute;
  color: #ffa500;
  display: flex;
  align-items: center;
  margin-top: 20px;
  right: 20px;
  bottom: 20px;
}

#places #content .layout a {
  text-decoration: none;
  color: #ffa500;
  transition-duration: 0.4s;
}

#places #content .layout a:hover {
  transform: translateX(-10px);
}

#places #content .layout img {
  width: 100%;
  height: 200px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  transition-duration: 0.3s;
}

#places #content .layout .layout-content:hover img {
  transform: scale(1.1);
}

#service {
  width: 90%;
  margin: 100px auto;
}

#service .service-content {
  text-align: center;
  width: 100%;
}

#service .service-content h3 {
  color: #ffa500;
  font-size: 20px;
  font-weight: 500;
}

#service .service-content h2 {
  font-size: 40px;
}

#service .service-content .layout {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 30px;
}

#service .service-content .layout .content {
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  border: 1px solid #ffa500;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 20px;
  transition-duration: 0.5s;
}

#service .service-content .layout .content:hover {
  background-color: #f2e0bf;
}

#service .service-content .layout .content i {
  color: #ffa500;
  font-size: 2.5em;
}

#service .service-content .layout .content h3 {
  color: black;
  font-weight: bold;
}

#mumbai-pictures {
  width: 90%;
  margin: 100px auto;
}

.mumbai-contents {
  width: 100%;
  text-align: center;
}

.mumbai-contents h3 {
  color: #ffa500;
  font-size: 30px;
  font-weight: bold;
}

.mumbai-item {
  text-align: left;
}

.mumbai-item h3 {
  font-size: 20px;
}

.mumbai-item img {
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
}

.mumbai-item p {
  color: #5d5d5d;
  font-size: 1em;
}

.mumbai-layout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

#reviewer {
  width: 90%;
  margin: 100px auto;
}

#reviewer .reviewer-contents {
  width: 100%;
  display: flex;
  gap: 50px;
  align-items: center;
}

.reviewer-contents .left-contents h3 {
  color: #ffa500;
  font-size: 30px;
  font-weight: bold;
}

.reviewer-contents .left-contents p {
  color: #5d5d5d;
  font-size: 14px;
  line-height: 2;
  font-weight: 600;
}

.right-contents-layout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.right-contents {
  padding: 20px;
  border: 1px solid #ffa500;
  border-radius: 20px;
  transition-duration: 0.5s;
}

.right-contents:hover.right-contents p {
  color: black;
}

.right-contents:hover {
  background-color: #f2e0bf;
}

.reviewer-contents .right-contents p {
  color: #5d5d5d;
  font-size: 14px;
  line-height: 2;
  font-weight: 600;
}

.reviewer-contents .right-contents img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
}

#form-review {
  width: 90%;
  margin: 100px auto;
}

.form-review-contents {
  text-align: center;
  width: 100%;
}

.form-review-contents h3 {
  color: #ffa500;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

.form-review-layout {
  display: flex;
  align-items: center;
  gap: 20px;
}

.form-review-layout iframe {
  width: 40%;
}

.form-review-layout form {
  width: 60%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 20px;
  border-radius: 10px;
}

.form-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.form-content input[type=text] {
  width: 100%;
  padding: 10px;
  background-color: #f7f7f7;
  border: none;
  padding: 10px;
  font-size: 16px;
}

.form-content .input-review {
  grid-column: span 2;
}

.form-content .input-review input {
  height: 200px;
}

.form-content button {
  padding: 10px 20px;
  background-color: #ffa500;
  color: white;
  border: none;
  width: 300px;
  font-size: 20px;
  border-radius: 20px;
  transition-duration: 0.5s;
  white-space: nowrap;
}

.form-content button:hover {
  background-color: #f2e0bf;
  color: #ffa500;
}

.form-content .btn {
  width: 50%;
  display: flex;
  justify-content: start;
}

#blog {
  width: 90%;
  margin: 100px auto;
}

.blog-contents {
  text-align: center;
  width: 100%;
}

.blog-contents h2 {
  color: #ffa500;
  font-size: 20px;
  font-weight: 500;
}

.blog-contents h3 {
  font-size: 40px;
}

.blog-layout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 30px;
}

.blog-layout-item img {
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  transition-duration: 0.3s;
}

.img-blog {
  width: 100%;
  overflow: hidden;
  height: 250px;
}

.blog-layout-item a {
  text-decoration: none;
  transition-duration: 0.5s;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 100%;
  display: block;
  height: 100%;
  overflow: hidden;
}

.blog-layout-item img:hover {
  transform: scale(1.1);
}

.blog-item-bottom {
  text-align: left;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 250px;
}

.blog-item-bottom h3 {
  font-size: 20px;
  font-weight: 500;
  color: black;
  transition-duration: 0.5s;
}

.blog-item-bottom h3:hover {
  color: #ffa500;
}

.blog-item-bottom p {
  color: #5d5d5d;
  font-size: 0.9em;
  line-height: 2;
}

.blog-item-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#footer-banner {
  width: 100%;
  background: linear-gradient(rgba(17, 17, 17, 0.7), rgba(17, 17, 17, 0.7)), url(https://stravelhtml.vercel.app/mumbai/images/banner-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  padding: 3rem 2rem;
  text-align: center;
  background-attachment: fixed;
}

.footer-banner-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.footer-banner-content h2 {
  font-size: 20px;
  color: #ffa500;
  font-weight: 500;
}

.footer-banner-content h3 {
  font-size: 40px;
  color: white;
  font-weight: bold;
}

.footer-banner-content p {
  color: white;
  font-size: 0.9em;
  line-height: 2;
}

.footer-banner-content a {
  padding: 10px;
  font-size: 20px;
  background-color: #ffa500;
  color: white;
  width: 150px;
  text-decoration: none;
  border-radius: 20px;
  border: 1px solid #ffa500;
  transition-duration: 0.5s;
}

.footer-banner-content a:hover {
  background-color: rgba(255, 165, 0, 0.2);
  color: #ffa500;
}

/*# sourceMappingURL=style.css.map */
